/* layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
  padding: 0 15px;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

ul {
  list-style: none;
}

ul li a {
  color:
    text-decoration: none;
}

/* layout */
/* header */

ul {
  display: inline-block;
  list-style: none;
}

header nav ul li {
  padding: 15px 15px;
  display: inline-block;
}
.lang-select {
  border-right: 2px solid black;
}

  padding-left: 15px;

  .bordo-a {
    padding-left: 15px;
    border-left: 2px solid black;
  }

ul li a {
  color: black;
  text-decoration: none;

}

.lang-select {
  display: inline-block;
}
select {
  display: inline-block;
  border:none;
  background-color: #fff2ee;
  margin-right: 15px;
}
.float-right {
  float: right;
}

/* header */
/* main */
/* main */
/* footer */
/* footer */
/* utility */
.bg-lightgrey {
  background-color: #fff2ee;
}

.b-right {
  border-right: 2px solid black;
}

.b-bottom {
  border-bottom: 2px solid black;
}

.d-inline-block {
  display: inline-block;
}
.btn-primary {
  border-radius: 5px;
  background-color: #FE775A;
  padding: 8px 10px;
  border: none;

}

/* utility */
