/* layout */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF4EF;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
  padding: 0 15px;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-70 {
  width: 70%;
}

.col-25 {
  width: 25%;
}

ul {
  list-style: none;
}

ul li a {
  color:
    text-decoration: none;
}

/* layout */
/* header */
nav.bg-lightgrey {
  border-bottom: 1px solid #627583;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

ul {
  display: inline-block;
  list-style: none;
}

header nav ul li {
  padding: 15px 15px;
  display: inline-block;
}

.lang-select {
  border-right: 2px solid #627583;
}

.bordo-a {
  padding-left: 15px;
}

ul li a {
  color: black;
  text-decoration: none;
}

.lang-select {
  display: inline-block;
}

.fa-globe-europe {
  color: #627583;
}

.lang-select select {
  margin-left: 0px;
  color: #627583;
  display: inline-block;
  border: none;
  background-color: #fff2ee;
  margin-right: 15px;
}

.inglob-left-item {
  padding: 23px 0;
  display: inline-block;
}

.bordo-a {
  padding-left: 14px;
  display: inline-block;
}

.bordo-a a {
  margin-left: -15px;
}

a {
  font-size: 15px;
  padding-left: 15px;
  color: #627583;
  text-decoration: none;
}

.float-right {
  float: right;
}

.btn-bg-white {
  font-weight: 600;
  color: #FE775A;
  border-radius: 5px;
  padding: 8px 10px;
  background-color: #ffffff;
  border: 2px solid #FE775A;
}

.sub-nav {
  background-color: #ffffff;
  margin-top: 67px;
}

select {
  font-size: 15px;
  outline: none;
  color: #627583;
  display: inline-block;
  border: none;
  background-color: #ffffff;
  margin-left: 15px;
}

.items-to-right {
  line-height: 70px;
  display: inline-block;
  float: right;
}

.logo {
  line-height: 70px;
}


.logo img {
  width: 110px;
  vertical-align: middle;
}

/* jumbotron */
.text-under-btn-jumbo {
  padding-top: 20px;
}
header .jumbotron {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  height: 500px;
  background-image: url('../img/jumbotron.png');
}

.jumbotron h1 {
  font-family: 'Montserrat', sans-serif;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.title-jumbo {
  font-size: 24px;
}

header .jumbotron .all-text-jumbo {
  padding-top: 36px;
}

.text-under-title-jumbo {
  font-size: 15px;
  padding: 20px 0;
  line-height: 2em;
}

.btn-get-free-jumbo {}

/* jumbotron */
/* header */
/* main */
/* main */
/* footer */
/* footer */
/* utility */
.p-right {
  padding-right: 5px;
}

.bg-lightgrey {
  background-color: #fff2ee;
}

.b-right {
  border-right: 2px solid black;
}

.b-bottom {
  border-bottom: 2px solid black;
}

.d-inline-block {
  display: inline-block;
}

.btn-primary {
  font-weight: 500;
  color: #ffffff;
  border-radius: 5px;
  background-color: #FE775A;
  padding: 10px 10px;
  border: none;
}

.fa-search {
  color: #50BFD1;
}

/* utility */
