/* layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
}

.container {
  background-color: lightgrey;
  width: 80%;
  margin: 0 auto;
}

.row{
  margin: 0 -15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
  padding: 0 15px;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}
/* layout */

/* header */

/* header */

/* main */
/* main */

/* footer */
/* footer */




/* utility */
.bg-lightgrey {
  background-color: #fff2ee;
}
.b-right {
  border-right: 2px solid black;
}
.b-bottom {
  border-bottom: 2px solid black;
}
/* utility */
